# gitignore file for the Rocq library

# Output from `coq_makefile`, dune, or other build tools
Makefile
_make/
_build/
_build.log
_build-install/
_build-deps/
*.cram
*.so
*.exe
*.cm*       # OCaml native build files

# Dune build system (used in Coq/Rocq ecosystems)
.dune/
.dune-config/
.dune-workspace
*.install

# Editor files
*.swp
*.swo
*~
.#*
*.bak

# IDE or editor settings
.vscode/
.idea/

# content below from: https://github.com/github/gitignore/blob/main/Coq.gitignore
.*.aux
.*.d
*.a
*.cma
*.cmi
*.cmo
*.cmx
*.cmxa
*.cmxs
*.glob
*.ml.d
*.ml4.d
*.mlg.d
*.mli.d
*.mllib.d
*.mlpack.d
*.native
*.o
*.v.d
*.vio
*.vo
*.vok
*.vos
.coq-native
.csdp.cache
.lia.cache
.nia.cache
.nlia.cache
.nra.cache
csdp.cache
lia.cache
nia.cache
nlia.cache
nra.cache
native_compute_profile_*.data

# generated timing files
*.timing.diff
*.v.after-timing
*.v.before-timing
*.v.timing
time-of-build-after.log
time-of-build-before.log
time-of-build-both.log
time-of-build-pretty.log
